*{
  border: none;
  margin: 0;
  padding: 0;
	-moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
:focus {
  outline-color:initial;
  outline-style:initial;
  outline-width:0;
}
.clear{
  clear: both;
}
h3,h4{
	margin-bottom: 50px;
}
$background: #fff;
$header: #1A1A1A;
$articleColor: #27ae60;
a{
	color: #34495e;
	text-decoration: none;
}
body{
	background-color: $background;
	color: #34495e;
	font-family: 'Open Sans';
	font-size: 12px;
}
header{
	width: 100%;
	background: $header;
	#name img{
		width: 150px;
		margin: 15px 0 0 30px;
	}
	a{
		color: #fff;
		text-decoration: none;
		padding: 15px 15px 15px 15px;
	}
	a:hover{
		background-color: lighten($header, 10%);
	}
	nav{
		margin: 30px 0 0 20px;
		padding-bottom: 15px;
		ul{
			li{
				display: inline;
				list-style-type: none;
			}
			li:last-child{
				float: right;
			}
		}
	}
	#header{
		width: 800px;
		margin: 0 auto;
	}
}

section{
	position : relative;
	min-height: 100%;
	#titre{
		height: 100px;
		background-color: #27ae60;
		color: #fff;
		text-align: center;
		padding: 20px 0 0 0;
	}
	#glob{
		position: relative;
		min-height: 100%;
		#content{
			padding: 15px;
			float: left;
			width: 70%;

			.article{
				border: 1px solid $articleColor;
				padding: 25px;
				margin-bottom: 25px;
				position: relative;

				.titre{
					font-size: 18px;
				}
				.shortContent{
					margin-bottom: 35px;
				}
				.date{
					position: absolute;
					right: 0; top: 0;
					background: $articleColor;
					text-align: center;
					padding: 10px;
					color: #fff;
					font-weight: bolder;
				}
				.more{
					position: absolute;
					bottom: 0; right: 0;
					font-weight: bolder;
					margin-top: 15px;
					background: $articleColor;
					margin-bottom: 15px;
					padding: 5px 70px 5px 5px;
					color: #fff;
					text-decoration: none;	
				}
			}
		}
		#rubrique{
			width: 30%;
			margin-left: 70%;
			padding: 15px;
		}
	}
}

@mixin formulaire($type, $height, $width, $bgc, $color){
	input:not([type=submit]){
		background: $bgc;
		color: $color;
		height: $height;
		width: $width;
	}
}


footer{
	position: absolute;
	bottom: 0;
	background-color: #fff;
	height: 25px;
}