<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="views/ressources/js/app.js"></script>
  <link rel="stylesheet" href="views/ressources/css/style.css" />
<!--   <link rel="stylesheet" href="views/ressources/css/formulaire.css" /> -->
  <title></title>
 </head>
 <body>
 	formulaire: <br/>
 	{{ sess }}
 	{{ form|raw }}


 </body>
</html>