<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="../../ressources/js/js.js"></script>
  <link rel="stylesheet" href="../../ressources/css/style.css" />
  <title></title>
 </head>
 <body>
 		<form method='post' action="">

		<div class="field"><input type="text" placeholder="Nom" name="nom" class="texta-flat-1" /></div>
		<div class="field"><input type="password" placeholder="pwd" name="password" class="texta-flat-1" /></div> 


		<div class="field"><input class="submit-flat-2" type="submit" value="SUIVANT"/></div>
	</form>
 </body>
</html>