<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="../../ressources/js/js.js"></script>
  <link rel="stylesheet" href="../../ressources/css/style.css" />
  <title></title>
 </head>
 <body>
 	{% for pers in perso %}
		<h1><a href="lire/{{ pers.id }}">{{ pers.nom }}</a></h1>
	{% endfor %}
 </body>
</html>



