<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="../../ressources/js/js.js"></script>
  <link rel="stylesheet" href="../../ressources/css/style.css" />
  <title></title>
 </head>
 <body>
 	{% for perso in perso %}
		<h1><a href="lire/{{ perso.id }}">{{ perso.nom }} - {{ perso.experience }} d'xp et {{ perso.degats }} de degat</a></h1>
	{% endfor %}


	<p><a href="ajout">Ajouter</a></p>
 </body>
</html>



