@import "compass";
*{
	border: none;
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus {
  outline-color:initial;
  outline-style:initial;
  outline-width:0;
}
.clear{
	clear: both;
}
body{
	background: #fff;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	color: #fff;
	width: 100%; height: 100%;
}
@-webkit-keyframes play {
   	0% 	 { top: -30px; }
    50%  { top: -25px; }
    100% { top: -30px; }
}
@-ms-keyframes play {
   	0% 	 { top: -30px; }
    50%  { top: -25px; }
    100% { top: -30px; }
}
@-moz-keyframes play {
   	0% 	 { top: -30px; }
    50%  { top: -25px; }
    100% { top: -30px; }
}
@-o-keyframes play {
   	0% 	 { top: -30px; }
    50%  { top: -25px; }
    100% { top: -30px; }
}
@keyframes play {
   	0% 	 { top: -30px; }
    50%  { top: -25px; }
    100% { top: -30px; }
}
#header{
	height: 300px;
	background: #db5b2a;
	position: relative;
	#contentInfoError{
		  width: 50%;
		  height: 50%;
		  z-index: 0;
		  margin: auto;
		  position: absolute;
		  top: 0; left: 0; bottom: 0; right: 0;
		#errorName{
			font-size: 30px;
			margin-bottom: 30px;
		}
		#errorContent{

		}
		#kintoun{
			position: absolute;
			top: -30px;
			right: 150px;
			-webkit-animation: play 2s infinite;
			-moz-animation: play 2s infinite;
			-ms-animation: play 2s infinite;
			-o-animation: play 2s infinite;
			animation: play 2s infinite;
			img{
				width: 100px;
			}
		}
	}
}
#search{
	z-index: 1;
	background: darken(#db5b2a, 10%);
	width: 100%;
	left: 0; right: 0;
	height: 50px;
	form{
		width: 550px;
		margin: 0 auto;
		padding-top: 10px;
		.input{
			width: 500px;
			height: 30px;
			display: inline-block;
		}
		.submit{
			background: #db5b2a;
			cursor: pointer;
			text-align: center;
			padding-top: 4px;
			width: 30px;
			height: 30px;
			display: inline-block;
			margin-left: -5px;
		}
		input[type=submit]{
			display: none;
		}
	}
}
#content{
	color: #666;
	text-align: center;
	margin-top: 100px;
}