* {
  border: none;
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus {
  outline-color: initial;
  outline-style: initial;
  outline-width: 0; }

@-webkit-keyframes play {
  0% {
    top: -30px; }
  50% {
    top: -25px; }
  100% {
    top: -30px; } }
@-ms-keyframes play {
  0% {
    top: -30px; }
  50% {
    top: -25px; }
  100% {
    top: -30px; } }
@-moz-keyframes play {
  0% {
    top: -30px; }
  50% {
    top: -25px; }
  100% {
    top: -30px; } }
@-o-keyframes play {
  0% {
    top: -30px; }
  50% {
    top: -25px; }
  100% {
    top: -30px; } }
@keyframes play {
  0% {
    top: -30px; }
  50% {
    top: -25px; }
  100% {
    top: -30px; } }
body {
  background: #EF6C00;
  font-family: "Roboto", Verdana, Arial, Helvetica, sans-serif;
  color: #fff;
  width: 100%;
  height: 100%;
  font-size: 1em; }
  body #bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(http://img15.hostingpics.net/pics/72926322bg.gif) center center no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: .1; }
    body #bg.er-0 {
      background: url(http://img15.hostingpics.net/pics/181082bger.gif) center center no-repeat;
      background-size: cover; }
    body #bg.er-1 {
      background: url(http://img15.hostingpics.net/pics/765167whaaaaaaat.gif) center center no-repeat;
      background-size: cover; }
  body article {
    position: absolute;
    top: 45%;
    left: 50%;
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%); }
    @media screen and (max-width: 739px) {
      body article #contentInfoError #kintoun {
        margin-top: -100px !important; } }
    body article #contentInfoError #errorName {
      font-size: 2.5em;
      font-weight: 300;
      margin-bottom: 30px;
      text-transform: uppercase;
      white-space: nowrap; }
    body article #contentInfoError #errorContent {
      margin-top: 60px;
      font-size: 1.3em;
      font-weight: lighter; }
    body article #contentInfoError #kintoun {
      position: absolute;
      margin-top: -9px;
      right: 50px;
      -webkit-animation: play 2s infinite;
      -moz-animation: play 2s infinite;
      -ms-animation: play 2s infinite;
      -o-animation: play 2s infinite;
      animation: play 2s infinite; }
      body article #contentInfoError #kintoun img {
        width: 150px; }
    body article.warning {
      height: 150px; }
