RewriteEngine on
#RewriteBase "/"
<Files *.yml>
    Order Deny,Allow
    Deny from all
</Files>

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule (.*) Kintoun.php/$1 [L]